body {
    margin: 0;
    margin-top: 0;
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
	/*background-color: black,; */
	background: linear-gradient(90deg, #000000, #121212, #565656, #878787, #f2f2f2, #f2f2f2, #878787, #565656, #121212, #000000);
    background-size: 1200% 1200%;

    -webkit-animation: AnimationName 16s ease infinite;
    -moz-animation: AnimationName 16s ease infinite;
    -o-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}



@-webkit-keyframes AnimationNamex {
   	0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationNamex {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
	@-o-keyframes AnimationNamex {
   	0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
	@keyframes AnimationNamex {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}


.text-custom{
	color: gray!important;
}

.page-header {
    position: static;
    top: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    color: black; /* Example text color */
    padding: 0px 0;
    font-family: serif;
	flex-shrink: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background: linear-gradient(90deg, #000000, #121212, #565656, #878787, #f2f2f2, #f2f2f2, #878787, #565656, #121212, #000000);
	/*background: linear-gradient(90deg, #000000, #181818, #303030, #676767, #999999, #bbbbbb, #dfdfdf, #fbfbfb, #e4e4e4, #c5c5c5, #9d9d9d, #7f7f7f, #4e4e4e, #303030, #181818, #000000);*/
    /*background-size: 1800% 1800%;*/

    /*-webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    -o-animation: AnimationName 12s ease infinite;
    animation: AnimationName 10s ease infinite;*/

}

.page-title {
	font-size: 3rem;
	font-family: 'Noto Serif JP', 'Noto Serif SC', serif;
}

.b-example-divider {
    width: 100%;
    height: 2rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
}

#carousel{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

main{
	display: flex;
    justify-content: center;
    align-items: center;
	flex-shrink: 0;
	position: absolute;
    margin: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	align-self: center;
	flex: 1;
}

#gallery {
    display: grid;
	top: 0px;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}

#gallery>*{
	grid-column: span 2;
	object-fit: contain;
}

#afterlife, #seaburial{
	grid-column: span 3;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery img {
    max-height: 1000px; /* 设置每行图片的最大高度 */
    width: 100%; /* 图像宽度占满容器 */
    object-fit: contain; /* 保持纵横比，适应容器，超出部分等比例缩放 */
}

.album-link {
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.album-link:hover .album-image {
    filter: brightness(70%); /* Reduce brightness on hover */
}

.album-image {
    max-width: 100%;
    height: auto;
    display: block;
    transition: filter 0.3s;
}

.album-link:hover .image-overlay {
    opacity: 1; /* Show the image overlay on hover */
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15); /* Add a semi-transparent background */
    color: white;
    opacity: 0;
    transition: opacity 0.3s; /* Add a transition effect for overlay */
}

.image-overlay-text {
    text-align: center;
    font-family: serif;
    font-size: 5em; 
    color: lightgrey;
    padding: 10px;
}


.photo {
    padding: 10px;
    text-align: center;
    cursor: pointer; /* Change cursor to pointer on hover */
    position: relative;
    transition: filter 2s;
}

.photo:hover img {
    filter: brightness(1.05);
}

.photo:hover::before {
    content: attr(data-number);; /* Display tooltip text on hover */
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 1);
    color: grey;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
}

.photo img {
    width: 100%;
    height: auto;
}

#video-index{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

video {
    max-width: 100%;
    max-height: 100vh;
	object-fit: contain;
	margin: 0;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	min-height: 40px;
}

video[poster] {
    width: auto; /* Make the poster image responsive */
    max-height: auto; /* Limit the height to the viewport height */
    object-fit: contain; /* Scale the image to cover the container */
}

.quote {
    font-size: 28px;
    color: grey;
    text-align: center;
    margin: 20px;
    font-family: serif;
    font-style: normal;
    font-weight: lighter;
}
.author {
    font-size: 28px;
    color: grey;
    text-align: right;
    display: block;
    font-style: normal;
    font-family: serif;
    margin-right: 50px
}


.footer{
	position: static;
	bottom: 1px;
	color: black;
	text-align:center;
	width: 100vw;
}

@media (max-width: 880px){
	body{
		justify-content: center;
	}

	#myCarousel{
		max-width: 100%;
		width: 100%;
	}

	.page-header{
		display: flex;
		align-items: center;
		justify-content: center;

	}	
	.page-title{
		font-size: 2rem;
		writing-mode: vertical-rl;
	}

	#gallery{
		grid-template-columns: repeat(1, 1fr);
		max-width: 90vw;
		padding: 0px;
	}

	#gallery>*{
		grid-column: span 1;
	}

	.image-overlay-text{
		font-size: 3rem;
	}

		
}


